.p-paginator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .p-paginator .p-paginator-pages {
    display: flex;
    gap: 8px;
  }
  .p-paginator-element {
    margin: 0 5px; /* Adjust the spacing as needed */
  }
  
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-prev {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto; /* Ensure they don't take up unnecessary space */
  }

  .custom-datatable .p-datatable-thead > tr > th {
    transition: background-color 0.3s ease; /* Smooth transition */
}

.custom-datatable .p-datatable-thead > tr > th:hover {
    background-color: #1755A5; /* Replace with your desired hover color */
    color: #000; /* Optionally, change the text color on hover */
}

/* .custom-datatable .p-datatable-thead > tr > th.p-highlight .p-sortable-column-icon {
    color: #ffcc00; 
} */

/* Optionally, change the background color of the header when sorted */
.custom-datatable .p-datatable-thead > tr > th.p-highlight {
    background-color: #dbd7c4; /* Replace with your desired background color */
    color: #000; /* Change the text color on click */
}
