.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  /* background-color: beige; */
}

.gallery-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 350px; /* Increased width */
  height: 200px; /* Increased height */
  cursor: pointer;
  /* background-color: white; */
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  position: relative;
  border-radius: 5px;
  margin-right: 10px;
  width: 50%;
  height: 150px; /* Adjusted height */
  object-fit: cover;
}

.gallery-text {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gallery-title {
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  /* background-color: beige; */
}

.gallery-subtitle {
  font-size: 14px;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: beige; */
}

.gallery-bio {
  font-size: 12px;
  /* font-weight: bold; */
  /* background-color: beige; */
}

.p-card-content {
  display: flex;
  align-items: start;
  padding: 10px;
  /* background-color: beige; */
}