.content {
    height: 100vh; /* Full viewport height */
    background-color: #1e24eb; /* Replace with your desired background color */
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

.sigmaPanel {
    /* Add any styles for sigmaPanel if needed */
    background-color: #41414c;
}