.content {
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
}

.sigmaPanel {
    /* Add any styles for sigmaPanel if needed */
    /* background-color: #41414c; */
}

.temporalPanel {
    /* Add any styles for temporalPanel if needed */
    /* background-color: #41414c; */
}

.sigma{
    max-height: 50vh;
}