@layer bootstrap-reboot, primereact;
@import 'primeflex/primeflex.css';

:root {
  --sidecarBackground: red;
}

.node-details {
  height: 100vh;
  background-color: var(--sidecarBackground);
}

.custom-paginator .p-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-paginator .p-paginator .p-paginator-current {
    margin-right: auto;
  }
  
  .custom-paginator .p-paginator .p-paginator-pages {
    display: flex;
    gap: 0.5rem;
  }
  
  .custom-paginator .p-paginator .p-paginator-element {
    display: inline-flex;
    align-items: center;
  }

 
.p-tabview-nav {
  background-color: #dbd7c4;
  height: 100%;
  width: 95vw;
  border-bottom: 3px solid #04151F;
}

.sidecarContainerFull .p-tabview-nav {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.sidecarContainerFull .p-tabview {
  border-radius: 25px;
}

.p-tabview-nav-link {
  color: #ffffff;
  background-color: #1755A5;
  padding: 0.5rem 1rem;
  margin-right: 5px;
  margin-top: 8px;
  font-family: 'Gentium Book Plus';
  font-size: large;
  text-decoration: none;
}

.p-tabview-nav-link:hover {
  background-color: #c4d7f2;
  color: #fff;
}

.p-tabview .p-tabview-panels {
  /* Add any additional styles for tab panels here */
}