.custom-paginator .p-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-paginator .p-paginator .p-paginator-current {
    margin-right: auto;
  }
  
  .custom-paginator .p-paginator .p-paginator-pages {
    display: flex;
    gap: 0.5rem;
  }
  
  .custom-paginator .p-paginator .p-paginator-element {
    display: inline-flex;
    align-items: center;
  }