/* QueryTool.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  overflow: auto;
}

.button {
  height: 35px;
  margin-bottom: 10px;
}

.results {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: center;
  width: 25%;
  height: 50%;
  overflow: auto;
}

.results h4 {
  font-size: 1.8em; /* Make the title text bigger */
  margin-bottom: 10px; /* Add some space below the title */
}

.results ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
}

.results li {
  font-size: 1em; /* Default size for list items */
  margin-bottom: 5px; /* Add some space between list items */
}

.query-card .p-card-title {
  font-size: 2.5em;
}

.query-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.query-card {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  width: 90%;
  height: 225px;
}

.query-drop {
  width: 70%;
  margin-right: 5px;
}

.p-card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.query-input {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.query-input p {
  margin-left: auto;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  position: fixed;
  right:10px;
}

.add-button {
  margin-bottom: 10px;
}

.query-card .p-card-content {
  flex-direction: column;
  flex-wrap: wrap;
}

.query-card .p-card-body {
  width: 100%;
}

.query-card .p-autocomplete-input {
  width: 100%;
}