/* QueryTool.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  overflow: auto;
}

.button {
  height: 35px;
  margin-bottom: 10px;
}
.query-clauses {
  width: 60%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table .query-drop {
  width: 100%;
  margin-right: 5px;
}

.query-drop {
  width: 100%;
}

.base-clause {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 10px;
}

.base-clause .fields {
  margin-right: 5px;
  width: 40%;
}

.base-clause .fields .query-drop {
  width: 100%;
}

.base-clause .term {
  width: 60%;
}

.query-clause {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
}

.query-inputs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-bottom: 10px;
  width: 95%;
}

.query-inputs .bool{
  margin-right: 5px;
  width: 20%;
}

.query-inputs .fields {
  margin-right: 5px;
  width: 40%;
}

.query-inputs .fields .query-drop {
  width: 100%;
}

.query-inputs .term {
  width: 40%;
  margin-right: 5px;
}

.remove-button {
  position: relative;
  top: 5px;
  height: 90%;
}

.buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  float: right;
}

.add-button {
  margin-bottom: 10px;
}

.search-dates {
  width: 60%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.start-date {
  width: 49.5%;
}

.end-date {
  width: 49.5%;
}