/* .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: white;
} */

  
  .filterBox {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    min-height: 37%;
    min-width: 20%;
    height: auto;
    width: auto;
    color: black;
  }
  
  .checkbox {
    margin-bottom: 5px;
  }

  .checkboxLabel {
    margin-left: 5px;
  }

/* Sigmagraph.module.css */
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.slider{
  z-index: 1000;
}


.l{
  color: #117090;
}