html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.sidecar{
  background-color: #dbd7c4;
  border: 3px solid #6C757D; 
  padding: 25px;
  border-radius: 25px;
  color: #000000; /* Change this to your desired text color */
}
 
.sidecar.p-tabview-nav {
  background-color: #dbd7c4 !important;
  height: 100%;
  border-bottom: 3px solid #04151F;
  color: #000000; /* Change this to your desired text color */
}

.sidecar .p-tabview-nav-link {
  color: #ffffff;
  background-color: #1755A5 !important;
  padding: 0.5rem 1rem;
  margin-right: 5px;
  margin-top: 8px;
  font-family: 'Gentium Book Plus';
  font-size: large;
  text-decoration: none;
  
}

.sidecar .p-tabview-nav-link:hover {
  background-color: #c4d7f2 !important;
  color: #fff;
}

.sidecar .p-tabview .p-tabview-panels {
  background-color: #fff;
  color: #000000; /* Change this to your desired text color */
}


