html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}



.sidecar{
  background-color: #dbd7c4;
  border: 3px solid #6C757D; 
  padding: 25px;
  border-radius: 25px;
  color: #000000; /* Change this to your desired text color */
  height: 100%;
}
 
.sidecar.p-tabview-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure that the arrows and tabs are spaced correctly */
  white-space: nowrap;
}

.sidecar .p-tabview-nav-link {
  color: #ffffff;
  background-color: #1755A5 !important;
  padding: 0.5rem 1rem;
  margin-right: 5px;
  margin-top: 8px;
  font-family: 'Gentium Book Plus';
  font-size: large;
  text-decoration: none;
  max-height: 35px;
}

.sidecar .p-tabview-nav-link:hover {
  background-color: #c4d7f2 !important;
  color: #fff;
}
.sidecar .p-tabview {
  height: 100%;
  
}

.sidecar .p-tabview .p-tabview-panels {
    height: calc(100% - 40px); /* Adjusted height to account for header, padding, etc. */
    background-color: #fff;
    overflow-y: auto; /* Hide overflow at this level */
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color:#000000;
  

}

.tab-content-container {
  height: calc(100% - 40px); /* Adjusted to ensure it calculates properly */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
  padding: 1rem; /* Optional padding */
}

.sidecar .p-tabview-nav-prev,
.sidecar .p-tabview-nav-next {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  z-index: 5; /* Make sure the arrows are clickable and above other elements */
  padding-bottom: 8px;
}

/* .sidecar .p-tabview-nav-prev .p-icon,
.sidecar .p-tabview-nav-next */

.sidecar .p-tabview-panel {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure it takes full height */
}

